# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
**/build/
out/
bin/
app/src/main/resources/cert*
app/src/main/resources/config.json

# Kotlin
*.kt.swp
.kotlin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/
nbbuild/
dist/
nbdist/

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Vim
.*.swp
.*.swo
*.swn

# Logs
*.log

# Temporary files
*.tmp
*.temp
target/

# Claude Code
.claude/
